task2_quantum_galton_box/results/circuit_diagram_2layer_simple_text.txt
task2_quantum_galton_box/results/circuit_diagram_1layer_complex_text.txt
task2_quantum_galton_box/results/circuit_diagram_1layer_simple_text.txt
task2_quantum_galton_box/results/circuit_diagram_2layer_complex_text.txt
task2_quantum_galton_box/results/circuit_specifications.txt
